---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Hfaiedh Roua" description="About Hfaiedh Roua">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am Roua Hfaiedh, a passionate Data Science engineer with a strong drive to innovate and make an impact through technology. As a final-year student at Esprit, I have honed my skills in artificial intelligence, machine learning, and software development, working on diverse projects such as designing AI trading bots, creating advanced predictive models, and automating complex workflows. My expertise includes Python, TensorFlow, Docker, and Angular, paired with a creative and problem-solving mindset. I thrive on challenges and excel at transforming ideas into powerful, data-driven solutions that make a difference.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Engineering Degree in Data Science:</p>
					<p>Esprit School of Engineering and Technology, Tunisia
2020 – Present</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><strong style="color: brown;">Programming Languages: </strong>Python, Java, JavaScript, PHP, C, C++, C#</p>
					<p><strong style="color: brown;">Frameworks & Tools: </strong>TensorFlow, Angular, Spring Boot, Docker, Kubernetes, Ansible, Node.js, Express.js, Symfony</p>
					<p><strong style="color: brown;">Data Science & AI: </strong>Machine Learning, Natural Language Processing (NLP), Transformers, Computer Vision, Data Mining</p>
					<p><strong style="color: brown;">DevOps & CI/CD: </strong>Git, Docker, Kubernetes, Jenkins, CI/CD Pipelines</p>
					<p><strong style="color: brown;">Databases: </strong>MySQL, MongoDB, PostgreSQL, Firebase, Oracle/PL-SQL</p>
					<p><strong style="color: brown;">Software Development Tools: </strong>Keycloak, Kafka, UML, Figma, Jira, Trello</p>
					<p><strong style="color: brown;">Soft Skills: </strong>Organized, independent, strong communication, and teamwork abilities</p>

				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
